<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633351554586-jjkah84abeij1q8ki1ubvm55diam0et4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633351554586-jjkah84abeij1q8ki1ubvm55diam0et4</string>
	<key>API_KEY</key>
	<string>AIzaSyDDLIu0b86RW1khrCGSu8j15EJ_4Fo4nQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>633351554586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitween1</string>
	<key>PROJECT_ID</key>
	<string>fitween-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>fitween-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633351554586:ios:89cb60631faf92bc7633a3</string>
</dict>
</plist>